// you can change colors here
$theme-color: oklch(0.65 0.17 230);
$theme-color-light: oklch(0.74 0.17 230);
$theme-color-dark: oklch(0.55 0.17 230);
$text-color: (
        light: oklch(0.25 0.04 230),
        dark: oklch(0.9 0.01 230),
);

$vp-c-text: $text-color;

$vp-c-text-mute: (
        light: oklch(0.35 0.03 230),
        dark: oklch(0.8 0.02 230),
);

// 辅助文本（如脚注、页脚版权等）
$vp-c-text-subtle: (
        light: oklch(0.55 0.02 230),
        dark: oklch(0.65 0.02 230),
);

$vp-c-accent: $theme-color;
$vp-c-accent-hover: oklch(0.84 0.15 230);
$vp-c-accent-bg: oklch(0.84 0.15 230);
$vp-c-accent-text: oklch(1 0 230);
$vp-c-accent-soft: oklch(0.97 0.02 230);
$vp-c-control-hover: $vp-c-accent-hover;

$content-width: 700px;
$wide-content-width: 900px;
$home-page-width: 1400px;

@font-face {
  font-family: "Torus";
  font-weight: 600;
  src: url("/assets/font/Torus-SemiBold.woff2") format("woff2"),
  url("/assets/font/Torus-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Torus";
  font-weight: 700;
  src: url("/assets/font/Torus-Bold.woff2") format("woff2"),
  url("/assets/font/Torus-Bold.woff") format("woff");
}
@font-face {
  font-family: "AlibabaPuHuiTi";
  font-weight: 600;
  src: url("/assets/font/AlibabaPuHuiTi-2-75-SemiBold.woff2") format("woff2");
}

// 2. 注入字体族变量（带逗号的字符串在这里安全通行！）
$vp-font: '"Torus", "AlibabaPuHuiTi", sans-serif';
$vp-font-heading: '"Torus", "AlibabaPuHuiTi", sans-serif';
$vp-font-mono: '"Torus", "AlibabaPuHuiTi", monospace';